In [2]:
# Dependencies and Setupjj
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from functools import reduce

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

# File scruboad (Remember to Change These)
data_to_load1 = "Resources/201807-citibike-tripdata.csv"
data_to_load2 = "Resources/201808-citibike-tripdata.csv"
data_to_load3 = "Resources/201907-citibike-tripdata.csv"
data_to_load4 = "Resources/201908-citibike-tripdata.csv"

dataN18 = pd.read_csv(data_to_load1)
dataQ18 = pd.read_csv(data_to_load2)
dataN19 = pd.read_csv(data_to_load3)
dataQ19 = pd.read_csv(data_to_load4)

In [6]:
Data_All = pd.concat([
    dataN18,dataQ18,dataN19,dataQ19
],ignore_index=True)
# data.head()

In [11]:
Data_All.head()

   tripduration                 starttime                  stoptime  start station id start station name  start station latitude  start station longitude  end station id    end station name  end station latitude  end station longitude  bikeid    usertype  birth year  gender
0           500  2018-07-01 00:33:51.2640  2018-07-01 00:42:12.0280              72.0   W 52 St & 11 Ave               40.767272               -73.993929          3236.0  W 42 St & Dyer Ave             40.758985             -73.993800   16583  Subscriber        1981       1
1           455  2018-07-01 02:06:54.0270  2018-07-01 02:14:29.0900              72.0   W 52 St & 11 Ave               40.767272               -73.993929           529.0     W 42 St & 8 Ave             40.757570             -73.990985   31481  Subscriber        1988       1
2          1080  2018-07-01 02:09:16.4640  2018-07-01 02:27:17.0290              72.0   W 52 St & 11 Ave               40.767272               -73.993929           453.0     W 22 St & 8 Ave             40.744751             -73.999154   25004  Subscriber        1982       2
3           632  2018-07-01 02:55:04.5870  2018-07-01 03:05:36.7910              72.0   W 52 St & 11 Ave               40.767272               -73.993929           465.0  Broadway & W 41 St             40.755136             -73.986580   25867  Subscriber        1986       1
4          1676  2018-07-01 03:24:27.4350  2018-07-01 03:52:23.7760              72.0   W 52 St & 11 Ave               40.767272               -73.993929          3425.0    2 Ave & E 104 St             40.789210             -73.943708   31351  Subscriber        1992       1

In [19]:
#Unique values of columns 
# Data_All.gender.unique()
#max
# Data_All.tripduration.max()
# max w\ record
# Data_All.loc[Data_All['tripduration'].idxmax()]

Data_All.bikeid.max()

40025

In [ ]:
Data_All.groupby([('tripduration','start station id', 'start station latitude','start station longitude','bikeid''usertype','gender')])

In [10]:
Data_All.to_csv('Data_final_data.csv')
# data.to_csv(file_name+'_final_data'+'.csv')

tripduration                                4829587
starttime                  2018-07-11 17:19:16.4680
stoptime                   2018-09-05 14:52:24.0950
start station id                               3628
start station name             Lenox Ave & W 117 St
start station latitude                      40.8026
start station longitude                    -73.9491
end station id                                 3245
end station name             NYCBS DEPOT - DELANCEY
end station latitude                        40.7164
end station longitude                      -73.9823
bikeid                                        28728
usertype                                 Subscriber
birth year                                     1989
gender                                            1
Name: 1830192, dtype: object

In [21]:
Data_All.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id', 'start station name', 'start station latitude', 'start station longitude', 'end station id', 'end station name', 'end station latitude', 'end station longitude', 'bikeid', 'usertype', 'birth year', 'gender'], dtype='object')

In [13]:
Data_All.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8416090 entries, 0 to 8416089
Data columns (total 15 columns):
tripduration               int64
starttime                  object
stoptime                   object
start station id           float64
start station name         object
start station latitude     float64
start station longitude    float64
end station id             float64
end station name           object
end station latitude       float64
end station longitude      float64
bikeid                     int64
usertype                   object
birth year                 int64
gender                     int64
dtypes: float64(6), int64(4), object(5)
memory usage: 963.1+ MB