In [1]:

# Dependencies and Setup
import pandas as pd
import numpy as np
import locale as lc

# File to Load (Remember to Change These)
school_data_to_load = "schools_complete.csv"
student_data_to_load = "students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [ ]:

#school_data_complete.describe()
#school_data_complete.head(10)
student_data.head(10), school_data.head(10)

In [ ]:
#District Summary
Total_School=school_data.school_name.count()
Total_Students=student_data.student_name.count()
Total_Budget=school_data.budget.sum()
Average_Math_Score=round(student_data.math_score.mean(),2)
Average_Reading_Score=round(student_data.reading_score.mean(),2)
Overall_Passing_Rate = round((Average_Math_Score+Average_Reading_Score)/2,2)
Passing_Math_df = student_data[student_data.math_score>=70]
Passing_Read_df = student_data[student_data.reading_score>=70]
Passing_math=round(Passing_Math_df.student_name.count()/Total_Students,4)
Passing_read=round(Passing_Read_df.student_name.count()/Total_Students,4)

#Passing_math,Passing_read

In [ ]:
print("Total School", Total_School)
print("Total Students", Total_Students)
print("Total Budget", '${:,.2f}'.format(Total_Budget))
print("Average Math Score", Average_Math_Score,"%")
print("Average Reading Score", Average_Reading_Score,"%")
print("% Passing Math", Passing_math*100,"%")
print("% Passing Reading", Passing_read*100,"%")
print("% Overall Passing Rate", Overall_Passing_Rate,"%")

In [96]:
District_Summary = pd.DataFrame()
District_Summary = pd.DataFrame({'Total Schools':Total_School}, index=[0])
District_Summary['Total Students'] = Total_Students
District_Summary['Total Budget'] = '${:,.2f}'.format(Total_Budget)
District_Summary['Average Math Score'] = Average_Math_Score
District_Summary['Average Reading Score'] = Average_Reading_Score
District_Summary['% Passing Math'] = Passing_math
District_Summary['% Passing Reading'] = Passing_read
District_Summary['% Overall Passing Rate'] = Overall_Passing_Rate
#District_Summary.loc[1] = [0]*8
District_Summary.head(10)

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,"$24,649,428.00",78.99,81.88,0.7498,0.8581,80.44

In [ ]:
#District Summary
# Create an overview table that summarizes key metrics about each school, including:
  # School Name
  # School Type
  # Total Students
  # Total School Budget
  # Per Student Budget
  # Average Math Score
  # Average Reading Score
  # % Passing Math
  # % Passing Reading
  # Overall Passing Rate (Average of the above two)
  
# Create a dataframe to hold the above results

In [119]:
school_data.head(10),student_data.head(10)

(   School ID            school_name      type  size   budget
 0          0      Huang High School  District  2917  1910635
 1          1   Figueroa High School  District  2949  1884411
 2          2    Shelton High School   Charter  1761  1056600
 3          3  Hernandez High School  District  4635  3022020
 4          4    Griffin High School   Charter  1468   917500
 5          5     Wilson High School   Charter  2283  1319574
 6          6    Cabrera High School   Charter  1858  1081356
 7          7     Bailey High School  District  4976  3124928
 8          8     Holden High School   Charter   427   248087
 9          9       Pena High School   Charter   962   585858,
    Student ID       student_name gender grade        school_name  \
 0           0       Paul Bradley      M   9th  Huang High School
 1           1       Victor Smith      M  12th  Huang High School
 2           2    Kevin Rodriguez      M  12th  Huang High School
 3           3  Dr. Richard Scott      M  12th  Huang High School
 4           4         Bonnie Ray      F   9th  Huang High School
 5           5      Bryan Miranda      M   9th  Huang High School
 6           6      Sheena Carter      F  11th  Huang High School
 7           7       Nicole Baker      F  12th  Huang High School
 8           8       Michael Roth      M  10th  Huang High School
 9           9     Matthew Greene      M  10th  Huang High School

    reading_score  math_score
 0             66          79
 1             94          61
 2             90          60
 3             67          58
 4             97          84
 5             94          94
 6             82          80
 7             96          69
 8             95          87
 9             96          84  )

In [126]:



#slicing the data
#School Stats# 
SS = student_data.filter(['school_name','reading_score','math_score'])

SS.agg("mean", axis="rows") group by 


#ppnr = data.filter(like = 'ppnr')
#dbb = data.filter(like = 'DBB_T')
SS.head(10)

reading_score    81.877840
math_score       78.985371
dtype: float64

In [113]:
school_data['size'].sum()

39170

In [137]:
SS.groupby('school_name')['reading_score','math_score'].mean()

                       reading_score  math_score
school_name
Bailey High School         81.033963   77.048432
Cabrera High School        83.975780   83.061895
Figueroa High School       81.158020   76.711767
Ford High School           80.746258   77.102592
Griffin High School        83.816757   83.351499
Hernandez High School      80.934412   77.289752
Holden High School         83.814988   83.803279
Huang High School          81.182722   76.629414
Johnson High School        80.966394   77.072464
Pena High School           84.044699   83.839917
Rodriguez High School      80.744686   76.842711
Shelton High School        83.725724   83.359455
Thomas High School         83.848930   83.418349
Wilson High School         83.989488   83.274201
Wright High School         83.955000   83.682222